* {
  margin: 0%;
  padding: 0%;
}

@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

:root {
  --bg-green: #43ba80;
  --bg-brown: #ff521a;
  --txt-brown: #ff521a;
}
.banner, .business, .finance {
  background: linear-gradient(rgba(55, 57, 69, 0.8), rgba(55, 57, 69, 0.8)),
    url(../images/Desktop.jpg) no-repeat center;
  background-size: 100%;
  padding: 100px;
}
.banner{
  padding: 50px 100px;
}

.banner > header > nav > ul {
  list-style-type: none;
  float: right;
}

.banner > header > nav > ul > li {
  display: inline-block;
  padding: 20px;
}

.banner > header > nav > ul > li > a {
  text-decoration: none;
  color: white;
}

.banner > header > nav > ul > li:hover a {
  color: var(--txt-brown);
}

.banner > header > nav > img {
  height: 54px;
}

.banner > header > nav > ul > li:last-child {
  background-color: var(--bg-green);
  border-radius: 10px;
}

.banner > section {
  margin-top: 100px;
  width: 60%;
}

.banner > section > h1, .business>h1 {
  color: white;
  font-size: 50px;
}

.banner > section > h1 > span {
  color: var(--txt-brown);
}

.banner > section > h1 + hr {
  width: 100px;
  height: 5px;
  background: white;
  border-radius: 5px;
}

.banner > section > p {
  color: white;
  text-align: justify;
}

.banner > section > h1,
.banner > section > p,
.banner > section > button {
  margin: 20px auto;
}

.banner > section > button, .business>div>button, .aboutus>.container>section:last-child>button {
  padding: 10px 20px;
  border: 2px solid transparent;
  color: white;
  margin-right: 20px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}

.banner > section > button:nth-child(4),.business>div>button:first-child, .aboutus>.container>section:last-child>button{
  background-color: var(--bg-green);
}

.banner > section > button:last-child, .business>div>button:last-child {
  background-color: var(--bg-brown);
}

.banner > section > button:hover,  .business>div>button:hover{
  background-color: transparent;
}


.container {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.iconSection, .aboutus{
  padding: 100px;
}
.iconSection > .item {
  flex: 1;
}
.iconSection > .item > div {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 20px;
  padding: 20px;
  transition: 0.5s ease-in-out;
  border-top: 3px solid #ff521a;
}
.iconSection > .item > div:hover {
  background-color: var(--bg-brown);
  color: #fff;
  border-top: 3px solid var(--bg-green);
}
.iconSection > .item > div > section > h2 {
  margin-top: 10px auto;
}
[class*="fa-"] {
  color: var(--bg-green);
}

.business{
 justify-content: space-between;
}
.business>h1>span:first-child{
  color: var(--bg-green);
}
.business>h1>span:last-child{
  color: var(--bg-brown);
}

.aboutus>.container>section:first-child{
 flex: 2;
}
.aboutus>.container>section:last-child{
  flex: 1;
  line-height: 2;
}
.aboutus>.container>section:first-child>table{
   width: 100%;
   border-spacing: 10px;
 }
 .aboutus>.container>section:first-child>table th, .aboutus>.container>section:first-child>table td{
  padding: 15px;
  border-bottom: 1px solid #ccc;
}
.aboutus>.container>section:first-child>table tr:first-child th{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
table tr:nth-child(3)>td:first-child,table tr:nth-child(3)>td:first-child,table tr:nth-child(4)>td:first-child,table tr:nth-child(5)>td:first-child,table tr:nth-child(6)>td:first-child{
  color: #43ba80;
}
.aboutus>.container>section:last-child>p{
 margin-bottom: 20px ;
}
.aboutus>.container>section:last-child>button:hover{
   border: 2px solid #ff521a;
   background-color: transparent;
   color: #43ba80;
 }
table tr:first-child th:first-child{
  color: #ff521a;
}

.finance{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
}
.finance>.container{
  gap: 20px;
}
 #girl{
  margin-left: -50px;
  margin-top: -25px;
  margin-bottom: 0%;
  padding: 0%;
  height: 600px;
}
.second{
  padding: 50px;
  margin-top: 0px;

  padding-right: 50px;
}
.second>h4{
  color:#ff521a;
  font-size: 18px;

 
}
.second>h1{
  color:#fff;
  font-size: xx-large;

 
}
.second>form{
  margin-top: 80px;
  padding-bottom: 10px;
}
.second>form>table td{
padding-bottom: 30px;
 
}
.finance{
  height: 575px;
}
.second>form>table th{
  text-align: left;
  color: #fff;

  font-size: 15px;

  }

  [type="email"]{
    margin-left: 20px;
    width: 220px;
}
[id="name1"]{
    width: 220px;
}
#eml{
    padding-left: 20px;
}
.second>form>table tr td>input{
  border-radius: 5px;
  height:30px;
  background-color: #5E697B;
  color: white;
  border: transparent;
  

   
  }
  [name="subject"], [name="choose"]{
    width:480px;
    color: #fff;
}
[type="button"]{
  background-color: #ff521a;
  color: #fff;
  padding: 10px 30px;
  border-radius:8px ;
}



.testimonials{
  padding: 80px 100px;
}
.testimonials>center>h5{
  color: var(--txt-brown);
}
.testimonials>.container{
  align-items: center;
  border: 2px solid transparent;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,0.24) 0px 3px 8px;
  margin: 40px 60px;
  height: 260px;
}
#boy{
  height:265px;
    width: 258px;
    border-radius: 10px;

}
.fa-quote-left{
  background-color: #43ba80;
  color: #fff;
  padding: 10px;
  margin-top: 0px;
  margin-left: 40px;
  border-radius: 5px;
}
.testimonials>.container>.card>p{
  font-style: italic;
  padding: 10px 40px;
  padding-right: 0px;
  margin-top: 10px;
}
.testimonials>.container>.card>h2{
  padding: 15px 40px;
}
.testimonials>.container>.card>h5{
  color: var(--bg-green);
  padding-left: 40px;
  margin-top: -10px;
}
.fa-ellipsis{
  color: var(--bg-brown)
}


.company{
  padding: 50px 100px;
  background-color: #222842;
} 
.comapany>img:first-child{
  padding-left: 25px;
}  
.comapany>img:last-child{
  padding-left: 25px;
}  
.company>img{
  padding-right: 22px;
  width: 171px;
}

   /* Footer Section */

footer{
  background-color: #181D30;
  color: #fff;
}    
#creator{
  color:var(--txt-brown);
 }