@media(max-width:768px){
    header{
        background-color: teal;
        padding: 20px;
    }
    header>nav>ul{
        float: none;
    }
    header>nav>ul>li{
        display: block;
    }
    header>nav{
        text-align: center;
    }
    .banner1{
        background-color: lightskyblue;
    }
    .banner2{
        background-image: url(../images/mobile.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .banner3{
        background: linear-gradient(to top, orange, white, green);
    }
    .banner4{
        background: repeating-linear-gradient(55deg, pink, brown, silver 50%);
      }
      .banner5{
        background: url(../images/mobile.jpeg)no-repeat left, url(../images/desktop.jpeg)no-repeat right;
        background-size: contain;
      }
      .banner6{
        background: linear-gradient(rgba(158, 15, 113, 0.3), rgba(57, 211, 139, 0.3)), url(../images/mobile.jpeg)no-repeat center;
        background-size: cover;
      }
      .banner7{

      }
      .banner8{
        background: -o-linear-gradient(black,green);
        background: -moz-linear-gradient(black,red);
        background: -webkit-linear-gradient(yellow,red);
        background: linear-gradient(red,blue,darkgreen);
      }
      .example-1{
        background: radial-gradient(red,blue,green);
      }
      .example-2{
        background: radial-gradient(circle, red,blue,green);
      }
      .example-3{
        background: radial-gradient(circle farthest-side at left bottom, red,blue,pink);
      }
      .example-4{
        background: repeating-radial-gradient(red ,blue 10%,green 20%);
      }

}
@media(min-width:769px) and (max-width:1200px){
    header{
        background-color: lightskyblue;
        padding: 20px;
    }
    header>nav{
        text-align: center;
    }
    header>nav>ul{
        float:none;
    }
    .banner1{
       background-color: grey;
    }.banner2{
        background-image: url(../images/tab.jpeg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .banner3{
        
            background: linear-gradient(to left, orange, white, green);
    }
    .banner4{
        background: repeating-linear-gradient(55deg, yellow, orange, purple 50%);
    }
    .banner5{
        background: url(../images/tab.jpeg)no-repeat left, url(../images/desktop.jpeg)no-repeat right;
      }
      .banner6{
        background: linear-gradient(rgba(158, 15, 113, 0.3), rgba(128, 0, 2, 0.3)), url(../images/tab.jpeg)no-repeat center;
        background-size: cover;
      }
      .banner7{

      }
      .banner8{
        background: -o-linear-gradient(black,green);
        background: -moz-linear-gradient(black,red);
        background: -webkit-linear-gradient(yellow,red);
        background: linear-gradient(pink,purple,brown);
      }
      .example-1{
        background: radial-gradient(pink,purple,maroon);
      }
      .example-2{
        background: radial-gradient(circle, pink,purple,maroon);
      }
      .example-3{
        background: radial-gradient(circle farthest-side at left bottom, pink,purple, teal);
      }
      .example-4{
        background: repeating-radial-gradient(pink ,purple 10%,maroon 20%);
      }
}